Flask==0.10.1
Jinja2==2.7.2
MarkupSafe==0.19
Werkzeug==0.9.4
amqp==1.4.5
anyjson==0.3.3
argparse==1.2.1
billiard==3.3.0.17
celery==3.1.11
evernote==1.25.0
httplib2==0.8
itsdangerous==0.24
kombu==3.0.16
oauth2==1.5.211
python-memcached==1.53
pytz==2014.2
uWSGI==2.0.4
wsgiref==0.1.2
