body {
  font: 1em/1.7em 'Helvetica Neue';
}

/* Counteract the header overlap in the recipe. */
article {
    margin-top: 10px;
}

nav {
    height: 50px;
    margin-bottom: -10px;
    position: fixed;
}

nav ul {
    list-style: none;
    padding: 0;
    margin: 0;
    height: 100%;
    border-bottom-left-radius: 25px 25px;
    border-bottom-right-radius: 25px 25px;
    background: rgb(0, 0, 0);
    background: rgba(0, 0, 0, 0.7);

    position: relative;
    z-index: 10;
}

nav ul li a {
    position: relative;
    display: block;
    text-decoration: inherit;
    text-align: center;
    overflow: hidden;
    float: left;
    line-height: 50px;
    width: 100%;

    color: white;
    font: bold 24px/45px 'Helvetica Neue', Helvetica, Sans-Serif;
    letter-spacing: -1px;
}

footer {
    width: 600px;
    height: 40px;
    position: fixed;
}

footer ul {
    margin: 0;
    padding: 0 3px;
    height: 100%;
    background: rgb(0, 0, 0);
    background: rgba(0, 0, 0, 0.7);
}

footer li {
    display: inline-block;
    list-style-type: none;
    width: 19px;
}

footer a {
    display: inline-block;
    text-decoration: inherit;
    text-align: center;
    width: 100%;

    color: white;
    font: bold 24px/40px 'Helvetica Neue', Helvetica, Sans-Serif;
    letter-spacing: -1px;
}

ul.menu {
    list-style: none;
    border: 1px solid rgb(230, 230, 230);
    padding: 0;
    margin: 0;
}

.menu li {
    border: 1px solid rgb(230, 230, 230);
    margin: 0;
    width: 598px;
}

.menu li a {
    position: relative;
    display: block;
    width: 598px;
    height: 120px;
    color: inherit;
    text-decoration: inherit;
    text-align: center;
    line-height: 120px;
    overflow: hidden;
}

.menu li img {
    width: 598px;
    margin-top: calc(-50% + 60px);
}

.menu h2 {
    position: absolute;
    top: 18px; /* (li height - 85px) / 2 = (120 - 85) / 2 ~= 18 */
    width: 100%;
}

.menu h2 span {
    color: white;
    font: bold 24px/45px 'Helvetica Neue', Helvetica, Sans-Serif;
    letter-spacing: -1px;
    background: rgb(0, 0, 0);
    background: rgba(0, 0, 0, 0.7);
    padding: 10px;
}
