<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="en" lang="en">
<head>
    <meta http-equiv="Content-type" content="text/html; charset=utf-8" />
    <title>vmenu</title>

    <link rel=stylesheet type=text/css href="{{ url_for('static', filename='normalize.css') }}">
    <link rel=stylesheet type=text/css href="{{ url_for('static', filename='960.css') }}">
    <link rel=stylesheet type=text/css href="{{ url_for('static', filename='style.css') }}">
</head>

<body>
{% block body %}
    <div class="container_12">
        <nav class="grid_10 prefix_1 suffix_1 alpha omega">
            <ul>
                <li class="grid_5 alpha"><a href="/">Home</a></li>
                <li class="grid_5 omega"><a href="javascript:history.back()">Back</a></li>
            </ul>
        </nav>

        <div class="clear"></div>

        {% block content %}{% endblock %}

        {% block footer %}
        <div class="clear"></div>

        <footer>
            <ul>
                <li><a href="{{ tagurl }}{{ start }}{{ page - 1 }}/">&lt;</a></li>
            {% for letter in footer_links() %}
                <li><a href="{{ tagurl }}{{ letter }}/">{{ letter }}</a></li>
            {% endfor %}
                <li><a href="{{ tagurl }}{{ start }}{{ page + 1 }}/">&gt;</a></li>
            </ul>
        </footer>
        {% endblock %}
    </div>
{% endblock %}
</body>
